.filter-container .filter {
  border-bottom: 3px solid transparent; /* Initially transparent */
  transition: border-color 0.5s ease; /* Transition effect */
  color: white;
  cursor: pointer;
}

.filter-container container {
  cursor: pointer;
}

.filter-container .filter:hover,
.filter-container .filter:focus {
  border-color: rgb(39, 122, 201); /* Border color on hover or focus */
  transition: border-color 0.5s ease; /* Left to right transition */
  color:rgb(39, 122, 201);
}

.welcome h1{
  font-weight: 800;
  color: white;
  cursor: default;
}
.card-container{
  overflow: auto !important;

}