.header-container {
  height: 10%;
}
.login-header {
  border-bottom: 1px solid #656565;
}
.login-logo {
  height: 80%;
  margin-right: 1%;
}
.login-header .name {
  font-size: 1.5rem;
  font-weight: 700;
}
